@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Galano Grotesque';
  src: url('./assets/fonts/GalanoGrotesqueAlt-Regular.woff2') format('woff2'),
       url('./assets/fonts/GalanoGrotesqueAlt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Galano Grotesque', sans-serif;
}
